page-updateApp {
  .back-button.show-back-button {
    display: none !important;
  }
  .logo {
    width: 70px;
    height: 70px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
  }
  .heading {
    color: dimgray;
  }
  .description {
    padding: 0px 40px 0px 40px;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    color: gray;
  }
  .button-dismiss {
    text-transform: capitalize;
  }
  button {
    margin: 0px !important;
    border-radius: 0px !important;
  }
  ion-content {
    font-family: 'open_sanslight';
  }
  h4 {
    font-family: 'open_sanssemibold';
  }
}
