<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="app_logo">
        <img src="assets/img/app-icon.png" />
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)">

    <h4 class="login_heading">WELCOME TO LODGISTICS</h4>

    <ion-list>
      <ion-item>
        <ion-label floating>EMAIL / USERNAME</ion-label>
        <ion-input autocapitalize="on" type="text" autocomplete='off' (ngModelChange)="valchange()" autocorrect="off" spellcheck="off"
          autocapitalize='off' formControlName="email"></ion-input>

        <p class="pcolor" *ngIf="email.touched && email.hasError('required')">
          require
          <small class="up">
            <strong>
              <i></i>
            </strong>
          </small>
        </p>

      </ion-item>


      <ion-item>
        <ion-label floating>PASSWORD</ion-label>
        <ion-input *ngIf="showPass" type="text" (ngModelChange)="valchange()" formControlName="password" class="password-field"></ion-input>
        <ion-input *ngIf="!showPass" type="password" (ngModelChange)="valchange()" formControlName="password" class="password-field"></ion-input>
      </ion-item>
      <p class="pcolor" *ngIf="password.hasError('required') && password.touched "></p>

      <div *ngIf="!showPass" class="pull-left show-pass" (click)="showPassword()">SHOW</div>
      <div *ngIf="showPass" class="pull-left show-pass" (click)="showPassword()">HIDE</div>

      <div class="clearfix"></div>

      <button ion-button class="margin-top" [disabled]="!loginForm.valid || showLoader" color="grey" full>{{showLoader?'':'SIGN IN'}}
        <ion-spinner *ngIf="showLoader" name="bubbles"></ion-spinner>
      </button>




      <div class="pull-left a1" (click)="showLoader?'':forgetPassword()">Forgot password?</div>

      <div class="pull-right a1" (click)="showLoader?'':newAccount()">Create Account</div>

    </ion-list>
  </form>


</ion-content>