<ion-backdrop disable-activated="" role="presentation" tappable="" class="backdrop-no-tappable" style="opacity: 0.5;"></ion-backdrop>
<ion-content padding no-bounce disable-scroll>

  <div class="reply-box" style="margin-top: 10%;">
    <div class="popup-box">
      <ion-icon class="popup-close-button" ios="ios-close" md="md-close" (click)="dismiss()"></ion-icon>
      <ion-title class="title">Change Password</ion-title>

      <ion-item>
        <ion-label floating>New password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" class="password-field"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm New Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password_confirmation" class="password-field"></ion-input>
      </ion-item>

      <span class="error" *ngIf="userData.password!='' && userData.password_confirmation!='' && userData.password.trim().length<=4">Password is too short.
        <br/>
      </span>
      <span class="error" *ngIf="userData.password.trim().length>4 && userData.password!='' && userData.password_confirmation!='' && userData.password!=userData.password_confirmation">The password and confirmation password do not match.</span>

      <!-- <div>
        <ion-label>New password <span class="required">*</span></ion-label>
        <input class="text-box" type="password" value="" [(ngModel)]="userData.password" />
      </div>
      <div>
        <ion-label>Confirm New Password <span class="required">*</span></ion-label>
        <input class="text-box" type="password" [(ngModel)]="userData.password_confirmation" />
      </div> -->

      <div class="popup-buttons">
        <!-- <button ion-button (click)="dismiss()">CANCEL</button> -->
        <button ion-button (click)="showLoader?'':update()" [disabled]="showLoader || !userData.password.trim() ||  !userData.password_confirmation.trim() || userData.password.trim().length<=4 || userData.password!=userData.password_confirmation">{{showLoader?'':'SAVE'}}
          <ion-spinner *ngIf="showLoader" name="bubbles"></ion-spinner>
        </button>
        <!-- [disabled]="!messageText.trim()" -->
      </div>

    </div>
  </div>
</ion-content>