page-markFixed {
  
.box{width: 96%;background-color: #fff;margin: 0% 2% 0% 2%;border: 1px solid;font-family: 'open_sanssemibold';
    font-weight: 500;font-size: 14px;color: #757575;padding: 2px; position: absolute; top: calc(50% - (450px/2)); border-radius: 8px;width: 96%;}
.popup-buttons{ width: auto; text-align: right;padding-right: 5%;}
button{ width: 40%;height: 2.8em !important;}
.required{ color: #FF0000;}
table{ width: 100%; margin-bottom: 5%;} 
td{ text-align: center;}
.float_right{ margin-right: 1%; }
.float_right .button-ios, .float_right .button-md{ padding: 0 1em; }
.page_title{ margin-top: 3px; }


.close-icon{ font-size: 3.2em;
    float: right;
    margin-top: -7.5%;
    margin-right: -2%;
    color: #ed5466;}   
    textarea{ width: 100%; border: 0.5px solid #757575; }

    .magic-tags {
        padding: 10px;
    }
    .magic-tags .tag {
        display: inline-block;
        background-color: #ecf0f1;
        padding: 5px 8px;
        border-radius: 5px;
        margin-right: 6px;
        color: #777777;
        cursor: pointer;
        font-weight: normal;
    }
    .magic-tags .selected{ background-color: #00b1e1;
        border-color: #00a5d2;
        color: white;}

//s7 device
@media only screen 
and (-webkit-min-device-pixel-ratio: 4)
and (min-device-width : 360px) 
and (max-device-width : 640px){  .close-icon {
    margin-top: -9.5%;
    margin-right: -3.2%;
}
}

//Pixel
@media only screen and (min-width: 411px) and (max-width: 767px)
 { .close-icon {
    margin-top: -9.0%;
    margin-right: -2.9%;
 }
 .box{ top: calc(50% - (450px/2)); }
 }


//iPhone 5 & 5S in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
{     
    .close-icon{ margin-top: -10.5%;margin-right: -3.2%; }
    .box{ top: calc(55% - (600px/2)); }
}
//iPhone 6 in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .close-icon{ margin-top: -8.8%;margin-right: -2.6%;}
    .box{ top: calc(50% - (450px/2)); }
}//iPhone 6+
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
and (device-width : 414px)
and (device-height : 736px)
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 3) 
and (-webkit-device-pixel-ratio : 3)
{ 
    .close-icon{margin-top: -8.2%;margin-right: -2.4%;}
    .box{ top: calc(50% - (450px/2)); }
}

//iPhone X
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {     
    .close-icon{margin-top: -9.2%;margin-right: -2.4%;}
    .box{ top: calc(50% - (450px/2)); }
}

//iPhone 8
@media only screen 
and (device-width : 375px) 
and (device-height : 667px) 
and (-webkit-device-pixel-ratio : 2) { 
    .close-icon{ margin-top: -8.8%;margin-right: -2.6%;}
    .box{ top: calc(50% - (450px/2)); }
}

//iPhone 8 Plus
@media only screen 
and (device-width : 414px) 
and (device-height : 736px) 
and (-webkit-device-pixel-ratio : 3) {    
    .close-icon{margin-top: -8.2%;margin-right: -2.4%;}
    .box{ top: calc(50% - (450px/2)); }
}

}




