<!-- <ion-content padding no-bounce disable-scroll> -->
<div class="page-wraper-box">
        
    <div class="box">

            <ion-title class="wo_title"> {{wo_no==''?'Create New Work Order':'Edit Work Order #'}}{{wo_no!=''?wo_no:''}}</ion-title>

        <table>
            <tr>
                <td colspan="2">
                    <ion-label>Request <span class="required">*</span></ion-label>
                    <textarea tappable rows="8" class="request" [(ngModel)]="workOrderData.descriptions"></textarea>
                </td>
            </tr>
            <tr>
                <td (tap)="wo_no!=''?closeKeyBoard():''">
                    <ion-label>Location <span class="required">*</span></ion-label>
                    <ion-select [selectOptions]="selectOptions" [disabled]="wo_no!=''" tappable (ngModelChange)='updateSelection()' [(ngModel)]="workOrderData.maintainable_type" placeholder="Select">
                        <ion-option *ngFor="let type of locationType;" value="{{type}}">{{type}}</ion-option>
                    </ion-select>
                </td>
                <td (tap)="wo_no!=''?closeKeyBoard():''">
                    <ion-label>{{workOrderData.maintainable_type}} <span class="required">*</span></ion-label>
                    <ion-select *ngIf="workOrderData.maintainable_type!='Other'" [selectOptions]="selectOptions" [disabled]="wo_no!=''" tappable [(ngModel)]="workOrderData.maintainable_id" placeholder="Select" (ngModelChange)="updateCheckList()">
                        <ng-container *ngIf="workOrderData.maintainable_type=='Room'">
                            <ion-option *ngFor="let rooms of room;" value="{{rooms.id}}">{{rooms.room_number}}</ion-option>
                        </ng-container>
                        <ng-container *ngIf="workOrderData.maintainable_type=='PublicArea' || workOrderData.maintainable_type=='Public Area'">
                            <ion-option *ngFor="let area of publicArea;" value="{{area.id}}">{{area.name}}</ion-option>
                        </ng-container>
                        <ng-container *ngIf="workOrderData.maintainable_type=='Equipment'">
                            <ion-option *ngFor="let equipments of equipment;" value="{{equipments.id}}">{{equipments.name}}</ion-option>
                        </ng-container>
                    </ion-select>
                    <ion-input class="other_input" *ngIf="workOrderData.maintainable_type=='Other'" type="text" value="{{workOrderData.maintainable_id}}" [(ngModel)]="workOrderData.maintainable_id" placeholder="Type"></ion-input>
                </td>
            </tr>
            <tr [hidden]="workOrderData.maintainable_type=='Equipment' || workOrderData.maintainable_type=='Other' " (tap)="(!workOrderData.maintainable_id || wo_no!='')?closeKeyBoard():''">
                <td colspan="2">
                    <ion-label>Checklist Item</ion-label>
                    <ion-select [selectOptions]="selectOptions" [(ngModel)]="workOrderData.maintenance_checklist_item_id" [disabled]="!workOrderData.maintainable_id || wo_no!=''" interface="action-sheet" tappable class="check-list-item" placeholder="select checklist item">
                        <ng-container *ngIf="workOrderData.maintainable_type=='Room'">
                            <optgroup *ngFor="let roomCheckList of roomCheckListItems;">
                                <ion-option [disabled]="true">-- {{roomCheckList.name}} --</ion-option>
                                <ion-option *ngFor="let rommItems of roomCheckList.checklist_items;" value="{{rommItems.id}}">{{rommItems.name}}</ion-option>
                            </optgroup>
                        </ng-container>
                        <ng-container *ngIf="workOrderData.maintainable_type=='PublicArea' || workOrderData.maintainable_type=='Public Area'">
                            <optgroup *ngFor="let publicList of publicAreaCheckListItems;">
                                <ng-container *ngIf="publicList.id==workOrderData.maintainable_id">
                                    <ion-option *ngFor="let publicItems of publicList.checklist_items;" value="{{publicItems.id}}">{{publicItems.name}}</ion-option>
                                </ng-container>
                            </optgroup>
                        </ng-container>
                    </ion-select>

                </td>
            </tr>
            <tr>
                <td (tap)="(!userPermissions.wo_access.priority && wo_no!='')?closeKeyBoard():''">
                    <ion-label>Priority <span class="required">*</span></ion-label>
                    <ion-select [selectOptions]="selectOptions" [disabled]="(!userPermissions.wo_access.priority && wo_no!='') || workOrderData.closed" tappable [(ngModel)]="workOrderData.priority" class="request" placeholder="select">
                        <ion-option value="l">Low</ion-option>
                        <ion-option value="m">Medium</ion-option>
                        <ion-option value="h">High</ion-option>
                    </ion-select>
                </td>
                <td (tap)="(!userPermissions.wo_access.status && wo_no!='')?closeKeyBoard():''">
                    <ion-label>Status <span class="required">*</span></ion-label>
                    <ion-select [selectOptions]="selectOptions" [disabled]="(!userPermissions.wo_access.status && wo_no!='') || (workOrderData.closed && !canEditClosedWo)" tappable [(ngModel)]="workOrderData.status" class="request" placeholder="select">
                        <ion-option value="open">Open</ion-option>
                        <ion-option value="closed">Closed</ion-option>
                        <ion-option value="working">Working</ion-option>
                    </ion-select>
                </td>
            </tr>

            <tr>
                <td (tap)="(!userPermissions.wo_access.assigned_to_id && wo_no!='')?closeKeyBoard():''">
                    <ion-label>Assigned To</ion-label>
                    <ion-select [selectOptions]="selectOptions" [disabled]="((!userPermissions.wo_access.assigned_to_id && wo_no!='') || workOrderData.closed)" tappable [(ngModel)]="workOrderData.assigned_to_id" class="request" placeholder="select">
                        <!-- <ion-option value="">Unassigned</ion-option> -->
                        <ng-container *ngFor="let user of members;">
                        <ion-option value="{{user[1]}}">{{user[0]}}</ion-option>
                        </ng-container>
                    </ion-select>
                </td>
                <td (tap)="(!userPermissions.wo_access.due_to_date && wo_no!='')?closeKeyBoard():''">
                    <ion-label>Due Date</ion-label>
                    <ion-datetime [disabled]="(!userPermissions.wo_access.due_to_date && wo_no!='') || workOrderData.closed" tappable [(ngModel)]="workOrderData.due_to_date" min="{{minDate}}" max="{{maxDate}}" displayFormat="MM/DD/YYYY"
                        placeholder="MM/DD/YYYY"></ion-datetime>
                </td>
            </tr>
            <!-- <tr>
          <td></td>
          <td>
              <input class="w100" type="checkbox"/> Recurring WO
          </td>
        </tr>  -->
            <tr>
                <td class="td-img-box">
                    <div *ngIf="!img[0]" class="img-icon" (click)="(!workOrderData.closed)?(!img[0]?showGalleryPrompt('0'):''):''">
                        <ion-icon tappable ios="ios-camera" md="md-camera" class="camera-image-icon"></ion-icon>
                        <ion-label>Attach Photo</ion-label>
                    </div>
                    <div *ngIf="img[0]">
                        <img src="{{img[0]}}" class="img-box" />
                        <ion-icon class="close-icon" ios="ios-close" md="md-close" (click)="(!workOrderData.closed)?removeImg('0'):''"></ion-icon>
                    </div>
                </td>
                <td class="td-img-box">
                    <div *ngIf="!img[1]" class="img-icon" (click)="(!workOrderData.closed)?(!img[1]?showGalleryPrompt('1'):''):''">
                        <ion-icon tappable ios="ios-camera" md="md-camera" class="camera-image-icon"></ion-icon>
                        <ion-label>Attach Photo</ion-label>
                    </div>
                    <div *ngIf="img[1]">
                        <img src="{{img[1]}}" class="img-box" />
                        <ion-icon class="close-icon" ios="ios-close" md="md-close" (click)="(!workOrderData.closed)?removeImg('1'):''"></ion-icon>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="popup-buttons" class="{{wo_no!=''?'float_left':'float_right'}}">
                        <!-- <button *ngIf="wo_no!='' && userPermissions.wo_access.can_delete" (click)="confirmCloseWorkOrder()" class="delete_wo" tappable ion-button>Delete WO#{{wo_no}}</button> -->
                        <button tappable ion-button (click)="dismiss()">CANCEL</button>
                        <button *ngIf="wo_no==''" tappable ion-button [disabled]="(!workOrderData.descriptions || !workOrderData.maintainable_type || !workOrderData.maintainable_id)"
      (click)="createWorkOrder()">CREATE WO</button>
    <button *ngIf="(wo_no!='' && userPermissions.wo_access.can_edit) && ( !workOrderData.closed || (workOrderData.closed && workOrderData.status!='closed') )"
      tappable ion-button [disabled]="(!workOrderData.descriptions || !workOrderData.maintainable_type || !workOrderData.maintainable_id  || (workOrderData.closed && canEditClosedWo && workOrderData.status=='closed'))"
      (click)="updateWorkOrder()">{{workOrderData.status=='closed'?'CLOSE WO':'UPDATE WO'}}</button>
                    </div>
                </td>
            </tr>

        </table>


    </div>
</div>
<!-- </ion-content> -->