<!-- <ion-content padding no-bounce disable-scroll> -->
<div class="page-wraper-box">
        
    <div class="box">
            <ion-icon class="close-icon" ios="ios-close" md="md-close" (click)="dismiss()"></ion-icon>
            <ion-title class="wo_title">Create Follow up</ion-title>

        <table>
            <tr>
                <td colspan="2">
                        Follow up on the message on a future date. Select a date or a range of dates. 
                        <!-- {{dateRange.from}} - {{dateRange.to}} -->
                </td>
            </tr>
            <tr>
                    <td colspan="2">
                            <ion-calendar [(ngModel)]="dateRange"
                            (onChange)="onChange()"
                            [options]="optionsRange"
                            [type]="type"
                            [format]="'YYYY-MM-DD'">
                          </ion-calendar>
                </td>
            </tr>
               
            <tr>
                <td colspan="2">
                    <div class="popup-buttons" class="float_right">
                        <ion-spinner class="api_loader_spinner" *ngIf="apiInProgress" name="bubbles"></ion-spinner>
                        <button *ngIf="!apiInProgress" [disabled]="!dateRange.from || !dateRange.to" tappable full ion-button (click)="createFollowUp()">SAVE</button>
                    </div>
                </td>
            </tr>

        </table>


    </div>
</div>
<!-- </ion-content> -->