page-createFollowUp {
  .content {
    background-color: #7F7F7F;
  }
  .box {
    background-color: #fff;
    margin: 5% 2% 0% 2%;
    border: 1px solid;
    font-family: 'open_sanssemibold';
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    padding: 2px;
    position: absolute;
    top: calc(50% - (600px/2));
    border-radius: 8px;
  }
  .popup-buttons {
    width: auto;
    text-align: right;
    padding-right: 5%;
  }
  button {
    width: 40%;
    height: 2.8em !important;
  }
  .required {
    color: #FF0000;
  }
  table {
    width: 100%;
    margin-bottom: 5%;
  }
  td {
    width: 50%;
    padding-top: 5%;
    text-align: center;
  }
  .float_left {
    float: left;
  }
  .float_right {
    margin-right: 1%;
  }
  .float_right .button-ios,
  .float_right .button-md {
    padding: 0 1em;
  }
  ion-calendar-month .primary .days .on-selected,
  ion-calendar-month .primary .startSelection button.days-btn,
  ion-calendar-month .primary .endSelection button.days-btn {
    background-color: #ed5466;
  }
  ion-calendar-month .primary .startSelection:after {
    background-color: #FFF3F0;
    border-radius: 10px 0px 0px 10px;
  }
  ion-calendar-month .primary .days.between {
    background-color: #FFF3F0;
  }
  ion-calendar-month .primary .between button.days-btn {
    background-color: #FFF3F0;
  }
  ion-calendar-month .primary .endSelection:after {
    background-color: #FFF3F0;
    border-radius: 0px 10px 10px 0px;
  }
  ion-calendar-month .primary .between button.days-btn p {
    color: #333;
  }
  ion-calendar .button-ios {
    background-color: #fff;
  }
  ion-calendar .title {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
  }
  ion-calendar-week .week-toolbar {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
  }
  ion-calendar-month {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
  }
  .close-icon {
    margin-top: -10px;
  }
  .wo_title.title {
    margin-top: 2.5%;
  }
  div.month-picker.primary {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    margin-top: 0px;
  } //iPhone X
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    td {
      width: 50%;
      padding-top: 5%;
    }
    .box {
      top: calc(50% - (600px/2));
    }
  }
  ion-calendar .title .back,
  ion-calendar .title .forward {
    background-color: transparent;
  }
  ion-calendar .title .switch-btn {
    background-color: transparent;
  } //s7 device
  @media only screen and (-webkit-min-device-pixel-ratio: 4) and (min-device-width: 360px) and (max-device-width: 640px) {}
  // pixel
  @media only screen and (min-width: 411px) and (max-width: 767px) {}
}
