<ion-backdrop disable-activated="" role="presentation" tappable="" class="backdrop-no-tappable" style="opacity: 0.5;"></ion-backdrop>
<ion-content padding no-bounce disable-scroll>

  <div class="reply-box" style="margin-top: 20%;">

    <div class="popup-box">
      <ion-title class="title">Notification Settings</ion-title>
      <ion-icon class="close-icon popup-close-button" ios="ios-close" md="md-close" (click)="dismiss()"></ion-icon>

      <span *ngIf="spinner" class="api_data_loader">
        <ion-spinner name="bubbles"></ion-spinner>
        <span class="api_data_loader_text">Fetching notifications data...</span>
      </span>


      <span *ngIf="allKeys.length>0">
        <ion-item *ngFor="let res of allKeys;let j=index">
          <ion-label>{{res.name}}</ion-label>
          <ion-toggle [(ngModel)]="res.key.prop"></ion-toggle>
        </ion-item>
      </span>

      <div class="popup-buttons">
        <button ion-button [disabled]="showLoader" (click)="showLoader?'':update()" class="save_button">{{showLoader?'':'SAVE'}}
          <ion-spinner *ngIf="showLoader" name="bubbles"></ion-spinner>
        </button>
      </div>


    </div>
  </div>
</ion-content>
