<ion-header id="header_box">
  <ion-navbar>
    <!-- <ion-buttons right>
      <button ion-button menuToggle end>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>TEAM LISTING</ion-title>
    <!-- <span class="plus_btn" (click)="add()">
      <ion-icon name="ios-add"></ion-icon>
    </span> -->
    <ion-buttons right>
      <button ion-button right (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding no-bounce [ngClass]="isPopupOpen?'open-popup':''">
  <span *ngIf="spinner" class="api_loader">
    <ion-spinner name="bubbles"></ion-spinner>
    <span class="api_loader_text">Fetching Team records...</span>
  </span>
  <ion-list *ngIf="foundRepos">
    <ion-item *ngFor="let res of foundRepos;let j=index" class="team-list">
      <ion-label>{{res.name}}
        <p>
          <span class="designation" *ngIf="res.title">{{res.title}}</span>
        </p>
      </ion-label>
      <ion-avatar item-left>
        <img src="{{res.avatar_img_url}}" class="active">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
