page-workOrder {

ion-navbar.toolbar{
    border-bottom: 2px solid #E5E5E5;
}

.toolbar-ios,.toolbar-md{padding: 0px;}
.grid{padding: 0px;background: #fff;}
.grid .button-ios,.grid .button-md{ background:none !important;font-size: 24px; height: 90px;  font-family: 'open_sanssemibold';color: #BDBDBD  !important;letter-spacing: 0px;}
.grid .button-ios .ion-ios-search,.grid .button-md .ion-md-search{height: 36px;}
.ion-ios-search,.ion-md-search{color:#AEAEAE !important;margin-left: 10px;font-size: 28px;}
[col-2]{ border-left:1px solid #BDBDBD; align-self: center; height: 65px;}
ion-content{background-color:#F7F7F7;}

.scroll-content{ padding: 16px 0px !important;}

.content-ios,.content-md {
    background-color: #F7F7F7 !important;
}
.card-ios,.card-md{margin: 12px 0px 20px 0px !important;box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .2);border-radius: 0px;padding-top: 0px; padding-bottom:5px;padding-left: 15px;
padding-right: 15px; width: 96% !important;margin-left: 2% !important;margin-right: 2% !important;}
.card-ios p,.card-md p{font-size: 28px;color:#616161; line-height:33px;font-family: 'open_sanslight'; word-break:break-word;text-align:justify;}
.card-content-ios,.card-content-md{padding: -20px 0px 5px 0px;display:flex;}
.item-ios,.item-md{padding-left: 0px; padding-right: 0px;padding-top: 0px;}
.item-ios h2,.item-md h2{font-size: 20px; color: #757575;  font-family: 'open-sans';}
.item-ios p,.item-md p{ font-size: 20px; color: #BDBDBD;font-family: 'open_sanslight';white-space: normal;}
ion-avatar[item-left]{margin: -8px 16px 8px 0px !important;}
.card-footer{border-top:1px solid #DEDEDE;text-align: center;}
.card-footer .button-ios,.card-footer .button-md{ background:none;color: #BDBDBD;font-family: 'open_sanslight';letter-spacing:0px;text-transform: uppercase;margin: 0px;height: 30px;}
.item-ios.item-block .item-inner{padding-right: 0px;}
.pull-left{ float:left;}
.pull-right{ float:right;color: #BDBDBD;font-family: 'open_sanslight';font-size: 20px;margin-top: -2px;}
.label-ios,.label-md{margin: 0px 0px 0px 0px;}
.btn-day{color: #BDBDBD; font-size: 18px;border:1px solid #BDBDBD;font-family: 'open_sanslight'; border-radius:4px;display: table;margin: auto auto 10px auto;border-radius: 4px;padding: 5px 5px 4px 5px;; margin-top:8%;margin-bottom:8%;background-color: #BDBDBD;color: #fff;font-weight:bold;}
.txt-update{ float:left;width:100%; text-align:center;color: #757575;font-family: 'open_sanslight'; vertical-align: middle; margin-bottom: -5px;margin-top: -16px !important;}
.icon-refresh{ vertical-align: middle; font-size:1.8em;}
ion-infinite-scroll-content{ min-height: 40px !important; }
ion-toolbar .button-inner{ justify-content: left;}
ion-footer{border-top: 1px solid #E5E5E5;}
.tabs-ios .tab-button[aria-selected="true"] .tab-button-icon,.tabs-md .tab-button[aria-selected="true"] .tab-button-icon{color: #02B9E7;}
ion-fab[bottom].footer_fab_box{ bottom: -10%; }




.searchbar-style{min-height: 48px;}
.searchbar-style .searchbar-input-container{background-color: #fff;}
.searchbar-style .searchbar-input-container .searchbar-input{ background-color: transparent;}
.searchbar-style .searchbar-input-container .searchbar-input{color:#02B9E7 !important; padding-left: 52px; font-size: 1.5rem;box-shadow: none;}
.searchbar-style button.searchbar-ios-cancel,.searchbar-style button.searchbar-md-cancel{ height: 36px;}
.searchbar-style .searchbar-search-icon{background-size:16px; width: 16px; height: 16px; left: 18px; top: 16px; background-image: url(../assets/img/icon-search.png) !important;}


.search-res-text{background-color: transparent; padding-left: 26px; padding-right:26px; color:#BDBDBD; font-size: 11px; font-family: 'open-sans';}
.search-res-text button{height: 20px; font-size: 11px; font-weight: 500; font-family: 'open-sans';	color:#02ACD7 !important; background-color: transparent;}

.searchbar-ios .searchbar-input-container .searchbar-clear-icon,.searchbar-md .searchbar-input-container .searchbar-clear-icon{
	height: 24px !important;
	width: 24px !important;
	background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%23979797'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
	background-repeat: no-repeat !important;
	background-color: transparent;
	}
	.searchbar-ios .button-ios.activated,.searchbar-md .button-md.activated{opacity: 0.4 !important;}
	.searchbar-ios .searchbar-ios-cancel,.searchbar-md .searchbar-md-cancel{background-color: transparent !important;}

	.no-result{color: #BFBEBE; font-family: 'open-sans'; font-size: 16px; margin-top: 66px;}

	.searchbar-clear-icon{ display: none !important; background-image: url(../assets/img/close.png) no-repeat left top !important;}
	.search-bar-animate{ height:60px; border-bottom: 1px solid #E5E5E5;}
	.searchbar-ios .searchbar-input,.searchbar-md .searchbar-input{font-size: 24px; height: 90px;  font-family: 'open_sanssemibold';color: #BDBDBD  !important;letter-spacing: 0px;padding-right: 0px;}

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		color: #BDBDBD !important;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #BDBDBD !important;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #BDBDBD !important;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #BDBDBD !important;
	}

	.pos-fixed{
		position:fixed;
	}
    ol{ margin-top:0px;margin-bottom: 0px;}
	.card-content-ios,.card-content-md{position: relative;z-index: 999;margin-top: 0px;margin-left: 10px;
		margin-right: 10px;padding: 0px 0px 5px 0px;}

	.blue-border{border-top: 0.5px solid #00ADDD; transition: 1s ease-in-out all;}
    .card-ios p,.card-md p{margin-top:2px;}
.create-post:active,.icon-refresh:active,.search-feed:active{opacity: 0.6;}
.bottom-menu:active{background: #EEE}
.item-ios .pull-left h2{ margin-top: 0px !important; }
.search-loader-text{ text-align: center;margin-top: 0px;color: #BDBDBD;}
.comment_count{ color: #616161; }

.col:active{background: #EEE; opacity: 0.8;}
.toolbar-title-md{margin-left: 0px !important;}
.card-header-md + .card-content-md, .card-md .item + .card-content-md{touch-action: inherit !important;}
 .card-md p {touch-action: inherit !important;}
 .card-md{touch-action: inherit !important}
 h2:first-child{margin-top: 0px !important;}
 .item-md.item-block .item-inner{padding-right: 0px;}
.list-ios{ margin: 0px 0 2% 0;}
ion-footer ion-icon{    font-size: 1.8em;}
.scroll-content{    margin-bottom: 42px !important;}
.bottom-buttons{border-right: 1px solid #DEDEDE;}
.acknowledged{color:#02B9E7 !important;}
.item_sub1{ padding-left:10px;padding-right:10px; padding-top: 5px;}
.item_sub2{ padding-left:0px;padding-right:0px; padding-top: 0px; font-family: 'open_sanslight';}
.post-feed:active{opacity: 0.5;color: #02B9E7 !important;background-color: #fff}
.txt-update.msg{ margin-top: -0px !important; }
.eye_icon{ font-size: 2em;color: #BDBDBD;text-align: center;vertical-align: middle;}
.eye_col{ max-width: 12%;min-width: 12%;}
.header_icons{ float: right;}



.text-medium {color: #ffd66a !important;}
.text-low {color: #91c854 !important;}
.text-danger {color: #ed5466 !important;}
.text-muted {color: #a2a2a2 !important;}
.pb5 {padding-bottom: 5px !important;}
.pt10 {padding-top: 10px !important;}
.mb5 {margin-bottom: 5px !important;}
.text-muted {color: #a2a2a2 !important;}
.card-header{border-bottom: 1px solid #DEDEDE;text-align: center; background-color: #f1f1f1;border-color: #cfd9db;padding-top: 1px;}
.card-footer{background-color: #f1f1f1;border-color: #cfd9db;padding-bottom: 1px;}
.item_sub2{ font-size: 15px;line-height: 18px; }   
.row{  font-size: 1.4rem !important;}
ion-footer .row{  font-size: 1.0rem !important;}
.middel_text{ display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
	align-items: center;     /* center items vertically, in this case */
}
.right_text{text-align: right;}
.left_text{ text-align: left; }
.item_sub2 ion-col{ margin-left: 10px;margin-right: 10px;padding: 0px 0px 5px 0px; }
.icon_comment{ margin-top: 8%; }
	
.option-row{ position: relative;z-index: 9999;width: 65%;margin-bottom: 0px;}
.speech-bubble {
	position: absolute;
	background: #428bca;
	border-radius: .4em;
	width: 100%;
	margin-top: -32px;
	color: #fff;
	display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: #428bca;
	border-bottom: 0;
	margin-left: -8px;
	margin-bottom: -8px;
}

.segment_div{margin-top: -6px;}
.segment-md .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 6px;
    width: 0;
    height: 3.5rem;
    //border-right-width: 0.8px;
    //border-right-style: solid;
    //border-right-color: #aeaeae;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: capitalize;
    color: #aeaeae;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
}
.speech-bubble-bottom {
	position: absolute;
	background: #428bca;
	border-radius: .4em;
	margin-top: -22px;
	width: 100%;
}
.speech-bubble-bottom:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: #428bca;
	border-top: 0;
	margin-left: -8px;
	margin-top: -8px;
}
.align-center{ text-align: center;}
.last-option-icon{border-right: none; font-size: 2em !important;}
.col_middel{
	display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
}
.location-name{ padding-left: 2px; }
.description{ padding-left: 4.5px; }

.segment_badge{border: 1px solid #00b1e1;color: #00b1e1;line-height: 1.5;background: none;height: 18px;min-width: 18px;padding: 1px 5px 1px 5px;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 10px;margin-left: 2px;}

.segment_badge1{border: 1px solid #aeaeae;color: #aeaeae;line-height: 1.5;background: none;height: 18px;min-width: 18px;padding: 1px 5px 1px 5px;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 10px;margin-left: 2px;}

  .toolbar-ios .segment-button{
	max-width: 30%;
	border: 1px solid #BDBDBD;
	color: #BDBDBD;
  }
  .toolbar-ios .segment-button .segment_badge{
	border: 1px solid #BDBDBD;
	color: #BDBDBD;
  }



  .segment-ios .segment-button.segment-activated{
	background-color: #fff;
	opacity: 1;
	transition: 100ms all linear;
	color: #000;
	border: 1px solid #cfd9db;
  }

  .segment-button.segment-activated {
      //border-color: #02B9E7;
      opacity: 1;
      color: #222;
  }


  .segment-ios .segment-button:hover:not(.segment-activated){
	background-color: #f1f1f1;
	border-color: #cfd9db;
	color: #BDBDBD;
  }
  .segment-md .segment-button{border-bottom: none !important;}
  .broadcast{ margin-left: 5%; color: #ed5466; display: flex; position: absolute;}
.broadcast ion-icon{ margin-right: 2px; }

.broadcast_btn img{
	height: 18px;
	width: 18px;
	vertical-align: middle;
	display: initial;
	margin: 3.5% 0%;
	}
ion-card:active{opacity: 0.6;}

.segment_m{    -webkit-flex: 1;
               -ms-flex: 1;
               flex: 1;
               padding: 0 6px;
               width: 0;
               height: 5.2rem;
               border-right-width: 0.8px;
               border-right-style: solid;
               border-right-color: #aeaeae;
               border-left-width: 0.8px;
                   border-left-style: solid;
                   border-left-color: #aeaeae;
               font-size: 1.2rem;
               font-weight: 500;
               line-height: 4rem;
               text-transform: uppercase;
               color: #aeaeae;
               background-color: transparent;
               opacity: 0.7;
               transition: 100ms all linear;}


			   .header-md .toolbar-md:last-child .toolbar-background-md{border-top: 2px solid #E5E5E5;}



.toolbar .segment-md {
    margin: 0 auto;
    width: 86%;
    border-radius: 4px 4px;
    border: 1px solid #aeaeae;
}
   .segment-md .segment-button.segment-activated {
       border-color: transparent;
       /* opacity: 1; */
       border-right-width: 0.8px;
           border-right-style: solid;
           border-right-color: #aeaeae;
           border-left-width: 0.8px;
           border-left-style: solid;
           border-left-color: #aeaeae;
   }
	.segment-md .segment-button{font-size: 1rem !important; padding: 0 2px !important; }
	.segment-button{margin-left: 0px; margin-right: 0px; }
	.close_wo{ font-size: 1.6rem !important; }
	.close_wo ion-icon{ font-size: 1.4em; margin-right: 10px;}

	.close_wo .option-col{
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		height: 100%;
	}
	.close_wo .row{
		font-size: 1.6rem !important;
	}
	.close_wo [col-11]{
		max-width: 80.66667%;
	}
@media(max-width:749px){

.grid .button-ios,.grid .button-md{ font-size: 16px; height: 45px; padding-left: 19px; box-shadow:none;}
.card-footer .button-ios,.card-footer .button-md{font-size: 13px; letter-spacing: 1px; height: 28px;}
.card-footer .col{padding-top: 0px; padding-bottom: 0px;}
[col-2]{height: 42px;}
.item-ios h2,.item-md h2{font-size: 12px; margin-bottom: 0px; }
.item-ios p,.item-md p{ font-size: 11px !important ; line-height: 22px !important; letter-spacing: 0.5px;}
.ion-ios-search,.ion-md-search{font-size: 20px; margin-top: 3px; margin-left: auto;margin-right: auto;display: table;}
.pull-right{ font-size: 12px !important;}
.card-ios p,.card-md p{font-size: 15px; line-height:18px;margin-top:2px;}
.card-ios,.card-md{padding-left: 0px; padding-right: 0px; padding-bottom: 0px; margin-bottom: 12px !important;}
.pull-right{ float:right;color: #BDBDBD;font-size: 11px;}
.btn-day{ font-size: 11px;padding: 2px 8px;}
.item-ios ion-avatar img,.item-md ion-avatar img{width:40px; height: 40px;}
.item-ios ion-avatar[item-left],.item-md ion-avatar[item-left]{ margin-top: 0px !important;}
.txt-update{font-size: 12px;}
.searchbar-ios .searchbar-input,.searchbar-md .searchbar-input{font-size: 16px !important; height: 45px;padding-top: 3px; }

}
@media(max-width:479px){
	.toolbar-ios ion-title,.toolbar-md ion-title{padding: 0 0px 1px 0px; margin: 0 18px 0 60px;}
}
.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

ion-card-content.card-content.card-content-ios.selectable,ion-card-content.card-content.card-content-md.selectable{
	white-space: pre-line;
}
.gif-img img{ max-width: 100%; min-width: 100%; margin-top: -4%;}

//iPhone 5 & 5S in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
{
	ion-col .button-ios{ padding: 0 0em; }
	.eye_icon{ padding-right: 0em; }
	.toolbar-ios .segment-button{max-width: 33%; font-size: 10px;}
	
}

//iPhone 6 in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.toolbar-ios .segment-button{max-width: 33%;}
}

//iPhone 6+
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
and (device-width : 414px)
and (device-height : 736px)
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 3) 
and (-webkit-device-pixel-ratio : 3)
{ 
	.toolbar-ios .segment-button{max-width: 30%;}
}

//iPhone X
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
	.toolbar-ios .segment-button{max-width: 30%;}
}

//iPhone 8
@media only screen 
and (device-width : 375px) 
and (device-height : 667px) 
and (-webkit-device-pixel-ratio : 2) { 
	.toolbar-ios .segment-button{max-width: 33%;}
}

//iPhone 8 Plus
@media only screen 
and (device-width : 414px) 
and (device-height : 736px) 
and (-webkit-device-pixel-ratio : 3) { 
	.toolbar-ios .segment-button{max-width: 30%;}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 533px){
.toolbar .segment-md{width: 96%;}
segment-md .segment-button{font-size: 1rem !important;}
}
//note 6
@media only screen 
and (-webkit-min-device-pixel-ratio: 3)
and (min-device-width : 412px) 
and (max-device-width : 690px){

	.segment-md .segment-button {
		font-size: 14px !important;
	}
	.title.title-md{margin-left: 65px; margin-right: 18px;}
}

@media only screen 
and (-webkit-min-device-pixel-ratio: 3.5)
and (min-device-width : 412px) 
and (max-device-width : 690px){
	segment-md .segment-button{font-size: 1.3rem !important;}
}

.btn_feb_add{ border: 1.5px solid #fff; font-size: 3.5em; margin-left: 0%; background-color: #428bca;}
.btn_feb_add:active{ background-color: #428bca; font-size: 3.5em;}
.btn_feb_add .fab-close-icon{color: #02B9E7;}
.btn_feb_add.fab-close-active{ color: #02B9E7; background-color: #fff; font-size: 3.5em; }
.ion-ios-close,
.ion-md-close{color: #AEAEAE; font-size: 0.5em;}
// .ion-ios-close,.ion-md-close{display: table;font-size: 30px;vertical-align: top;line-height: normal;margin-top: -2px;padding-left: 0px;color: #AEAEAE;margin-left: auto;margin-right: auto;}
// .no-border{border-left:none !important;}
}
