<div id="ListBackdrop" *ngIf="fabButtonOpened"></div>
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button color="light" *ngIf="foundRepos.length!=0" (click)="clearAll()">Dismiss All</button>
    </ion-buttons>
    <!-- <span start class="broadcast">
          <span (click)="broadcastList()">
            <span class="broadcast_btn"> class="post-feed clear_all_btn"
                <img src="assets/img/broadcost-red-icon.png" />
              </span>
            (15)</span>
        </span>  -->

    <!-- <ion-title class="mention-title">
      <div [ngClass]="foundRepos.length>0?'padding-title':'margin-left-less'">MY MENTIONS
      </div>
    </ion-title> -->
    <ion-title>
      MY MENTIONS
    </ion-title>


    <ion-buttons right>
      <button ion-button color="light" class="snooze-feeds snooze_all_btn" *ngIf="foundRepos.length>0">
        <span class="header_icons">
          <ion-icon *ngIf="!snoozeAllStatus" (click)="snoozeAll()" class="acknowledged snooze_btn_icon_header" ios="ios-notifications"
            md="md-notifications"></ion-icon>
          <ion-icon *ngIf="snoozeAllStatus" (click)="unsnoozeAll()" class="acknowledged snooze_btn_icon_header" ios="ios-notifications-off"
            md="md-notifications-off"></ion-icon>
        </span>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button menuToggle end>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <span *ngIf="showLabels && !spinner" class="txt-update">Last updated: {{lastUpdatesAt | amTimeAgo}}
    <ion-icon class="icon-refresh" name="refresh" (click)="callMyMentions()"></ion-icon>
  </span>

  <div class="clear"></div>
  <span *ngIf="spinner" class="api_data_loader">
    <ion-spinner name="bubbles"></ion-spinner>
    <span class="api_data_loader_text">Fetching mentions records...</span>
  </span>

  <!--<div *ngIf="foundRepos==''" class="no-result" text-center>No Result(s) Found</div>-->

  <span *ngFor="let item of foundRepos; let j=index">
    <!--
  <ion-label class="btn-day" *ngIf="i==0 && res.value.length>0" style="text-align:center;">Today</ion-label>    
  <ion-label class="btn-day" *ngIf="i==1 && res.value.length>0" style="text-align:center;">Yesterday</ion-label>
  <ion-label class="btn-day" *ngIf="i>1 && res.value.length>0" style="text-align:center;">{{res.date | amDateFormat:'LL'}}</ion-label>
  -->

    <ion-label class="btn-day" *ngIf="showDate(j)" style="text-align:center;">{{(item.created_at | date:'MMM d, yyyy') | uppercase}}</ion-label>

    <ion-list [@outAnimation]="item.state">
      <ion-card style="width:100%;margin:0px;">
        <ion-item-sliding class="card" style="width:100%;margin:0px;">
          <ion-item>
            <ion-item class="item_sub1">


              <ion-avatar item-left>
                <img src="{{item.content.created_by.avatar_img_url}}">
              </ion-avatar>
              <div class="pull-left">
                <h2>{{item.content.created_by.name}}
                  <span *ngIf="item.content.room_number && item.content.room_number>0" class="work-order-badge room_no_badge">Room #{{item.content.room_number}}</span>
                </h2>
                <p>{{item.content.content_type_name?item.content.content_type_name:item.content.created_by.role}}</p>
              </div>
              <div class="pull-right">
                <span style="float:right;">{{item.created_at | date:'shortTime'}}</span>
              </div>
            </ion-item>
            <ion-item class="item_sub2">
              <ion-card-content (click)="translate(item.content.content_data,'es',j)" [ngClass]="selectable">
                <p [innerHTML]="updateHtml(item.content.content_data,item.mentioned_user_ids?item.mentioned_user_ids:'') | safeHtml" style="font-size:15px !important;color:#000000;"></p>
              </ion-card-content>

              <ion-row [ngClass]="item.content.temp_data?'card-footer blue-border':'card-footer'">
                <ion-col class="bottom-buttons" *ngIf="!item.acknowledged_by_me" (click)="!item.inProgress?acknowledgeMention(item.content.content_id,item.content.created_by.id,item.mention_type,j):''">
                  <button ion-button icon-left clear>
                    <ion-spinner *ngIf="item.inProgress" name="bubbles"></ion-spinner>
                    <div *ngIf="!item.inProgress">
                      <ion-icon class="eye_icon" ios="ios-eye" md="md-eye"></ion-icon>
                      <span>ACKNOWLEDGE</span>
                    </div>
                  </button>
                </ion-col>
                <ion-col class="bottom-buttons eye_col" *ngIf="item.acknowledged_by_me">
                  <button ion-button icon-left clear>
                    <ion-icon class="acknowledged eye_icon" ios="ios-eye" md="md-eye"></ion-icon>
                  </button>
                </ion-col>
                <ion-col class="bottom-buttons" *ngIf="item.acknowledged_by_me && item.snoozed" (click)="!item.unsnoozeInProgress?unsnooze(j):''">
                  <button ion-button icon-left clear class="acknowledged">
                    <ion-spinner *ngIf="item.unsnoozeInProgress" name="bubbles"></ion-spinner>
                    <div *ngIf="!item.unsnoozeInProgress">
                      <ion-icon class="acknowledged snooze_btn_icon" ios="ios-time" md="md-time"></ion-icon> (4 hrs)</div>
                  </button>
                </ion-col>
                <ion-col class="bottom-buttons" *ngIf="item.acknowledged_by_me && !item.snoozed" (click)="!item.snoozeInProgress?snooze(j):''">
                  <button ion-button icon-left clear>
                    <ion-spinner *ngIf="item.snoozeInProgress" name="bubbles"></ion-spinner>
                    <div *ngIf="!item.snoozeInProgress">
                      <ion-icon class="snooze_btn_icon" ios="ios-time" md="md-time"></ion-icon> (4 hrs)</div>
                  </button>
                </ion-col>
                <ion-col class="bottom-buttons" *ngIf="item.acknowledged_by_me" (click)="!item.dismissInProgress?logSwipe(j):''">
                  <button ion-button icon-left clear>
                    <ion-spinner *ngIf="item.dismissInProgress" name="bubbles"></ion-spinner>
                    <div *ngIf="!item.dismissInProgress">Dismiss</div>
                  </button>
                </ion-col>

                <ion-col (click)="(item.content.content_type=='group_chat' || item.content.content_type=='private_chat')?openGroupCaht(item.content.content_type_id,j):openDetail(item.content.content_id,item.content.parent_content_id,j)">
                  <button ion-button icon-left clear>
                    <div>{{(item.content.content_type=='group_chat' || item.content.content_type=='private_chat')?'Reply':'Comment'}}</div>
                  </button>
                </ion-col>


              </ion-row>


            </ion-item>
          </ion-item>

          <ion-item-options side="right" (ionSwipe)="logSwipe(j)">
            <button class="archive_white" ion-button (click)="logSwipe(j)">
              Dismiss
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-list>
  </span>


  <span class="txt-update msg" *ngIf="showLabels && foundRepos.length==0 && allDeletedMsg==''">You have no pending mentions to take action on.</span>
  <span class="txt-update msg" *ngIf="foundRepos.length==0 && allDeletedMsg!=''">{{allDeletedMsg}}</span>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom center edge #fab class="footer_fab_box">
    <button ion-fab class="btn_feb_add" (click)="openFabButton()">
      <ion-icon class="fab_btn" name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <span (click)="createFeedQuick(fab)">
        <button ion-fab>
          <ion-icon name="ios-create-outline"></ion-icon>
        </button>
        <div class="label">New
          <br/>Post</div>
      </span>
    </ion-fab-list>
    <ion-fab-list side="left" *ngIf="userPermissions.wo_access && userPermissions.wo_access.can_create">
      <span (click)="createWorkOrderQuick(fab)">
        <button ion-fab>
          <ion-icon name="ios-construct-outline"></ion-icon>
        </button>
        <div class="label">New
          <br/>WO</div>
      </span>
    </ion-fab-list>
    <ion-fab-list side="right">
      <span (click)="sendMessage(fab)">
        <button ion-fab>
          <ion-icon name="ios-chatboxes-outline"></ion-icon>
        </button>
        <div class="label">New
          <br/>Message</div>
      </span>
    </ion-fab-list>
  </ion-fab>

</ion-content>


<ion-footer>

  <ion-grid>
    <ion-row *ngIf="userPermissions.wo_access.view_listing">
      <ion-col col-2.4 (click)="openFeedPage()" class="bottom-menu">
        <span *ngIf="feedNotificationCount>0" class="footer_badge"></span>
        <ion-icon name="ios-home-outline"></ion-icon>
      </ion-col>
      <ion-col col-2.4 (click)="openChatPage()" class="bottom-menu">
        <span *ngIf="messagesNotificationCount>0" class="footer_badge"></span>
        <ion-icon name="ios-chatboxes-outline"></ion-icon>
      </ion-col>
      <ion-col col-2.4 class="bottom-menu">
        <!-- space for fab button -->
      </ion-col>
      <ion-col col-2.4 (click)="openWOPage()" class="bottom-menu">
        <span *ngIf="woNotificationCount>0" class="footer_badge"></span>
        <ion-icon name="ios-construct-outline"></ion-icon>
      </ion-col>
      <ion-col col-2.4 (click)="openTaskChecklistPage()" class="bottom-menu list_footer_tab">
        <ion-icon name="ios-list-outline"></ion-icon>
      </ion-col>
      <!-- <ion-col col-2.4 class="active">
        <ion-icon name="ios-at"></ion-icon>
      </ion-col> -->

    </ion-row>
    <ion-row *ngIf="!userPermissions.wo_access.view_listing">
      <ion-col col-2.4 (click)="openFeedPage()" class="bottom-menu">
        <span *ngIf="feedNotificationCount>0" class="footer_badge"></span>
        <ion-icon name="ios-home-outline"></ion-icon>
      </ion-col>
      <ion-col col-2.4 (click)="openChatPage()" class="bottom-menu">
        <span *ngIf="messagesNotificationCount>0" class="footer_badge"></span>
        <ion-icon name="ios-chatboxes-outline"></ion-icon>
      </ion-col>
      <ion-col col-2.4 class="bottom-menu">
        <!-- space for fab button -->
      </ion-col>
      <ion-col col-2.4 (click)="openTaskChecklistPage()" class="bottom-menu list_footer_tab">
        <ion-icon name="ios-list-outline"></ion-icon>
      </ion-col>
      <ion-col col-2.4 class="active">
        <ion-icon name="ios-at-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-footer>