// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'open-sans';
    src: url('../assets/fonts/open-sans/OpenSans-Regular_0.ttf') format('ttf'), url('../assets/fonts/open-sans/OpenSans-Regular_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../assets/fonts/open-sans-bold/opensans-bold_0-webfont.woff2') format('woff2'), url('../assets/fonts/open-sans-bold/opensans-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../assets/fonts/open-sans-light/opensans-light_1-webfont.woff2') format('woff2'), url('../assets/fonts/open-sans-light/opensans-light_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../assets/fonts/open-sans-semibold/opensans-semibold_0-webfont.woff2') format('woff2'), url('../assets/fonts/open-sans-semibold/opensans-semibold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ion-header {
  .button-md {
    box-shadow: none;
  }

  .toolbar-title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

//Background of the screens
.scroll-content {
    // background-image: url('../assets/assets/img/screen.png');
    background-position: initial initial;
    background-repeat: initial initial;
}

//Add class="no-scroll" on <ion-content> to disable scrolling
.no-scroll .scroll-content {
    overflow: hidden;
}

//Center Class to align content to center.
.center {
    text-align: center;
}

//Set header buttons and title to white
ion-header {
    button,
    ion-title p {
        color: #02B9E7 !important;
    }
}

//Empty List
.empty-list {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    h1,
    p {
        color: $gray;
    }
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.125em;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        background: $dark;
    }
    button.activated,
    button:active {
        background: $dark-active;
    }
}

//Avatar List
ion-list.avatar-list {
    ion-item {
        background: rgba(0, 0, 0, 0.3) !important;
        h2 {
            color: #fff;
        }
        h3 {
            color: $dark-active;
            ion-icon.selected {
                color: $primary;
            }
        }
        p {
            color: $primary !important;
            max-width: 68vw;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        ion-avatar {
            img {
                width: 2.5em !important;
                height: 2.5em !important;
            }
        }
    }
    ion-item.selected,
    ion-item:active {
        opacity: 0.5;
    }
    ion-fab button,
    ion-fab button.activated {
        background: transparent !important;
    }
    ion-fab button.activated ion-icon {
        opacity: 0.5 !important;
    }
    ion-fab button ion-icon {
        font-size: 2em !important;
        color: $primary;
    }
    ion-icon.success {
        color: $primary;
    }
    ion-icon.danger {
        color: color($colors, danger);
    }
}

//Messages Content for message.html and group.html
div.messages {
    p.center {
        margin-top: 1.25em;
        margin-bottom: 0.5em;
        span {
            padding: 0.25em 0.5em;
            background: $secondary;
            color: #fff;
            border-radius: 0.4em;
        }
    }
    p.center.activated,
    p.center:active {
        span {
            background: $secondary-active;
        }
    }
    .system {
        text-align: center;
        font-size: 90%;
        p {
            background: transparent !important;
            max-width: 90vw;
            color: $primary;
        }
        span {
            margin-top: -0.6em;
            text-align: center !important;
        }
    }
    ion-col {
        padding-top: 1em;
        img {
            border-radius: 100%;
            width: 3.5em;
            height: 3.5em;
            object-fit: cover;
        }
        img.active,
        img:active {
            opacity: 0.5;
        }
        p {
            max-width: 67vw;
            margin-top: 0;
            color: #fff;
            padding: 0.5em;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
            background: $dark-active;
            display: inline-block;
        }
        span {
            display: block;
            text-align: left;
            color: $gray;
            font-size: 85%;
            padding-left: 0.5em;
        }
    }
    ion-col.sender {
        p {
            background: $primary;
        }
        span {
            text-align: right;
            padding-left: 0.5em;
        }
    }
    div.right {
        p {
            display: inline-block !important;
            float: right;
        }
        span {
            float: right;
            clear: right !important;
            display: inline-block;
        }
    }
    div.left {
        float: left;
        text-align: left;
    }
    div.left,
    div.right {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 0.75em;
        }
    }
}

//Footer Bar for message.html and group.html
ion-footer.footer {
    // background-image: url('../assets/images/background.png');
    background-position: initial initial;
    background-repeat: initial initial; // opacity: 0.6;
    background-color: transparent;
    background-image: url("../assets/img/white-92.png");
}

.bottom_bar {
    background: rgba(0, 0, 0, 0.3) !important;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    ion-input {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
        border-radius: 0.75em;
        color: #fff;
    }
    ion-fab button,
    ion-fab button.activated {
        background: transparent !important;
    }
    ion-fab button.activated ion-icon {
        opacity: 0.5 !important;
    }
    ion-fab button ion-icon {
        font-size: 2em !important;
        color: $primary;
    }
}

.toolbar-title {
    width: 84%;
}

.toolbar-title-ios,
.toolbar-title-md {
    font-size: 15px;
    letter-spacing: 2px;
    color: #808080;
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

.button-inner {
    font-weight: 600;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios,
.header-md .toolbar-md:last-child .toolbar-background-md {
    border-bottom: 2px solid #E5E5E5;
}

.label-ios[stacked],
.label-md[stacked] {
    text-align: left;
    color: #AEAEAE;
    letter-spacing: 2px;
}

.button-ios,
.button-md {
    margin: 0.4rem 0.2rem;
    padding: 0 0.5em;
    height: 47px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    background-color: #02B9E7;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.back-button-text {
    display: none;
}

.ion-ios-arrow-back::before,
.ion-md-arrow-back::before,
.ion-md-arrow-back::before,
.ion-md-arrow-back::before {
    content: "\f27d";
    padding-left: 8px;
    font-size: 2.4rem;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #02B9E7;
    box-shadow: inset 0 -1px 0 0 #02B9E7;
}

/*For alert Box*/

.edit_search {
    font-family: 'open-sans';
}

.edit_search .alert-title {
    color: #9E9E9E !important;
    font-size: 11px;
    font-weight: 400;
    margin-top: 66px;
}

.edit_search .alert-wrapper {
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 3px;
    max-height: 100%;
    height: 100%;
}

.edit_search .popup-list {
    margin: 12px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
}

.edit_search .popup-list li {
    display: block;
    border: #D0D0D0 solid 1px;
    border-radius: 5px;
    margin-bottom: 11px;
    font-family: 'open-sans';
    font-size: 14px;
    color: #ADAEB2;
    padding-top: 6px;
    padding-bottom: 6px;
}

.edit_search .popup-list li.active {
    color: #02B9E7;
}

.edit_search .close_icon_popup {
    position: absolute;
    top: 30px;
    right: 15px;
    background-image: url(../assets/img/icon-close.png) !important;
    background-size: 100%;
    color: rgba(0, 0, 0, 0);
    height: 16px;
    width: 16px;
}

.edit_search .alert-button {
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    height: 47px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    background-color: #02B9E7;
    letter-spacing: 2px;
    max-width: 90%;
    margin: auto;
}

.edit_search .alert-message {
    overflow-y: auto;
}

/*For forget alert Box*/

.forget_alert .alert-button {
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    height: 47px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    background-color: #02B9E7;
    letter-spacing: 2px;
    max-width: 100px;
    margin: auto;
}

.forget_alert .alert-wrapper {
    border-radius: 8px;
}

.forget_alert .alert-button-group {
    margin-bottom: 20px;
}

.avatar-group {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #E1E1E1;
    position: relative;
}

.gr1 {
    display: inline-block;
    height: 17px;
    width: 17px;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 50%;
}

.gr2 {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: auto;
    margin: auto;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    right: 0px;
    overflow: hidden;
}

.gr3 {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: auto;
    bottom: 0px;
    margin: auto;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    left: 0px;
}

.gr4 {
    display: inline-block;
    height: 17px;
    width: 17px;
    float: left;
    overflow: hidden;
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

ion-footer {
    min-height: 49px;
    border-top: 1px solid #E5E5E5;
}

.tabs-ios .tab-button[aria-selected="true"] .tab-button-icon,
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
    color: #02B9E7;
}

ion-footer ion-col {
    text-align: center;
    color: #878787;
    font-weight: 500;
}

ion-footer ion-col span {
    font-size: 18px;
    font-weight: 500;
}

ion-footer ion-icon {
    font-size: 2.0em;
}

ion-footer ion-col.active {
    color: #fff;
    background-color: #02ACD7;
}

.image_upload_alert .alert-message {
    max-height: initial;
    padding: 0 5px 0px !important;
}

.image_upload_alert .alert-title {
    margin-top: 0px;
    text-align: center;
}

.image_upload_alert .alert-wrapper {
    max-width: 65%;
    max-height: 100%;
}

.show-image-alert .alert-wrapper {
    max-width: 100%;
}

.image_upload_alert .alert-message,
.image_upload_alert .alert-input-group {
    padding: 0 5px 0px !important;
    color: #616161;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    align-self: center;
}

.image_upload_alert ion-backdrop .alert-md .alert-button-group {
    justify-content: center !important;
    padding: 4px 4px 4px 4px !important;
}

.image_upload_alert ion-backdrop .alert-md .alert-button {
    margin: 0 0 0 0 !important;
}

.image_upload_alert {
    button {
        justify-content: center !important;
        padding: 4px 4px 4px 4px !important;
        margin: auto !important;
        text-transform: capitalize !important;
    }
    .alert-button-group {
        padding: 8px 8px 8px 8px;
    }
}

.image_upload_alert .alert-head {
    padding: 5px 2px 2px;
}

.image_upload_alert .alert-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.image_upload_alert img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    min-height: 50px;
    min-width: 50px;
}

.image_upload_alert.alert-top {
    padding-top: 10px;
}

//
.confirm-work-order .alert-message {
    max-height: initial;
    padding: 10px 0px 15px 10px !important;
    font-size: 15px;
}

.confirm-work-order .alert-title {
    margin-top: 0px;
}

.confirm-work-order .alert-wrapper {
    min-width: 90%;
}

.confirm-work-order .alert-message,
.confirm-work-order .alert-input-group {
    padding: 10px 0px 15px 10px !important;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: 'open_sanslight';
}

.confirm-work-order .alert-head {
    padding: 5px 2px 2px;
}

.confirm-work-order .alert-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.confirm-work-order img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    min-height: 50px;
    min-width: 50px;
}

.confirm-work-order.alert-top {
    padding-top: 50px;
}

//
.reply_msg_alert .alert-message {
    max-height: initial;
    padding: 0 5px 0px !important;
}

.reply_msg_alert .alert-title {
    margin-top: 0px;
}

.reply_msg_alert .alert-wrapper {
    max-width: 98%;
    min-width: 98%;
    max-height: 70%;
}

.reply_msg_alert .alert-message,
.reply_msg_alert .alert-input-group {
    padding: 0 5px 0px !important;
    color: #616161;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 50px;
    text-align: left;
}

.reply_msg_alert .alert-head {
    padding: 5px 2px 2px;
}

.reply_msg_alert .alert-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.reply_msg_alert img {
    max-width: 100%;
    max-height: 100%;
}

.reply_msg_alert div.alert-input-wrapper {
    width: 100%;
}

.mention_style {
    color: #02B9E7;
    font-weight: bold;
}

// not in android
//body{ position: relative !important; }
body {
    -webkit-overflow-scrolling: touch;
}

.back-button-md {
    margin: 0 0px;
}

.list-md>.item-block:last-child .item-inner {
    border-bottom: 1px solid #dedede;
}

.groupcaht-alert {
    max-width: 100%;
    border: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-short {
    width: 40%;
}

ion-footer ion-icon {
    font-size: 1.8em;
}

.row {
    font-size: 1.0rem !important;
}

.scroll-content {
    margin-bottom: 44px;
}

.alert-notification ion-backdrop {
    background-color: transparent !important;
}

.alert-notification ion-backdrop .alert-md .alert-wrapper {
    box-shadow: none !important;
}

.alert-notification {
    .alert-wrapper {
        box-shadow: none !important;
    }
}

.keyboard-up {
    height: auto !important;
}

.img-loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #02B9E7;
    border-radius: 50%;
    margin-left: 38%;
    height: 50px;
    width: 50px;
    align-self: center;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
}

ion-alert .alert-radio-group [ion-button][disabled] {
    text-align: center;
}

/* hotel selcetion popup css */

.select_hotel_alert .alert-message {
    max-height: initial;
    padding: 0 5px 0px !important;
}

.select_hotel_alert .alert-title {
    margin-top: 0px;
}

.select_hotel_alert .alert-wrapper {
    max-width: 100%;
    max-height: 70%;
}

.select_hotel_alert .alert-message,
.select_hotel_alert .alert-input-group {
    padding: 0 5px 0px !important;
    color: #616161;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.select_hotel_alert .alert-head {
    padding: 5px 2px 2px;
}

.select_hotel_alert .alert-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.select_hotel_alert.alert-top {
    padding-top: 50px;
}

.selected_hotel_label {
    position: relative;
    border-radius: 0;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    transition: background-color 200ms linear;
    width: 100%;
    text-align: left;
    padding-right: 16px;
    padding-left: 15px;
    font-weight: bold;
    border-bottom: 0px solid #c8c7cc !important;
    margin: 13px 8px 10px 0;
}

.menu_float_right {
    float: right;
    margin-left: 5px;
}

.menu_hotel_options {
    font-size: 1.5rem;
    border-bottom: 0px solid #c8c7cc !important;
    text-align: left;
    width: 100%;
    font-weight: 200;
    line-height: 2.5;
    background-color: #fff;
    padding-left: 15px;
}

.menu_hotel_options .item-inner {
    background-image: none;
    padding-right: 24px;
    border-bottom: 0px solid #c8c7cc !important;
}

.menu_float_right.ion-ios-add:before,
.menu_float_right.ion-md-add:before {
    content: "switch hotel";
    font-size: 1.1rem;
    vertical-align: middle;
    font-weight: 200;
    color: #00b1e1;
    margin-bottom: 5px;
}

.menu_float_right.ion-ios-remove:before,
.menu_float_right.ion-md-remove:before {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
    vertical-align: middle;
}

.menu_line {
    border-bottom: 1px solid #c8c7cc !important;
    margin: 0px;
}

.footer_badge {
    background: #EF0047;
    height: 8px;
    width: 8px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    line-height: 15px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 2px;
    margin-right: 35%;
    z-index: 9;
}

.video_btn {
    bottom: 49px !important;
    background-color: #fff !important;
    color: #808080 !important;
}

.logout_btn {
    bottom: 0px;
    border-radius: 0px;
    position: fixed;
    color: #000;
    font-size: 1.7rem;
    font-family: inherit;
    text-align: center;
    width: 100%;
    background-color: #ed5466;
    color: #fff;
    padding: 10px;
    margin-bottom: constant(safe-area-inset-bottom) !important;
    min-height: 4.7rem;
    border-top: 0.55px solid #c8c7cc;
    display: flex;
    flex-direction: row;
    /* make main axis horizontal (default setting) */
    justify-content: center;
    /* center items horizontally, in this case */
    align-items: center;
    /* center items vertically, in this case */
    margin: 0px;
}

.logout_btn:active {
    opacity: 0.6;
    background-color: #ed5466;
}

.logout_btn ion-icon {
    margin-right: 4px;
}

.side_menu_options:active {
    opacity: 0.6;
    background: #d9d9d9;
}

.toggle-ios .toggle-icon::before {
    background-color: transparent;
}

.menu_icons {
    margin-right: 10px;
    font-size: 1.4em;
}

.menu_icons_btn {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.menu_icons_btn .menu_icons {
    padding-left: 16px;
}

.menu_icons_btn .ion-ios-construct-outline:before,
.menu_icons_btn .ion-md-construct-outline:before {
    font-size: 0.7em;
    margin-right: 0px;
    position: relative;
    top: -2px;
}

.logout_btn .menu_icons {
    margin-left: 0px;
}

.menu_icons_btn .label-ios {
    align-items: center;
    display: flex;
}

.logout_btn ion-icon {
    font-size: 1.4em;
}

.list_footer_tab {
    //padding: 0px 5px;
}

.list_footer_tab ion-icon {
    font-size: 2.7em;
}

.list_footer_tab .ion-ios-list:before {
    font-weight: bolder;
    font-size: 1.2em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.notify-alert {
    width: 100% !important;
    height: 12% !important;
    z-index: 9999; // background: red !important;
    color: black !important;
    top: 5px !important;
    background: transparent !important;
}

.notify-alert-icon {
    width: 18px;
    height: 18px;
    box-shadow: none;
    vertical-align: middle;
    max-width: 18px;
    display: -webkit-inline-box;
}

.notify-alert .scroll-content {
    height: 100% !important;
}

.notify-alert .scroll-content {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.notify-alert p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.notify-alert div {
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation-iteration-count: 1;
    animation-delay: 5s; // animation: colorchange 10s; 
    // -webkit-animation: colorchange 10s;
    position: relative;
    background: transparent;
} // background: #EEE !important;
// border-radius: 5px; margin: 10px;
.notify-alert .list-md {
    margin: 0px 0 0px 0;
}

.notify-alert .list-md ion-item-sliding {
    background: transparent !important;
}

.notify-alert .item-md {
    background: #428bca !important;
    border-radius: 5px;
}

.notify-alert .item-md p {
    color: #fff;
}

.notify-alert .card-md {
    background: transparent;
    box-shadow: none;
}

.notify-alert .list-md ion-item-options {
    border-bottom: none !important;
}

@keyframes colorchange {
    0% {
        background: #D3D3D3;
    }
    100% {
        background: #EEE;
    }
}

@-webkit-keyframes colorchange
/* Safari and Chrome - necessary duplicate */

    {
    0% {
        background: #D3D3D3;
    }
    100% {
        background: #EEE;
    }
}

ion-menu button.item-md.item-block .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 14px 14px;
}

.reply-popup {
    opacity: 0.5;
}

.loading_page .loader_name {
    text-align: center; // margin-top: 10%;
    color: #02B9E7;
    font-size: 29px;
    line-height: 1.4em;
    transition: 1s ease-in-out all;
    font-weight: 200;
}

.loading_page .loader_name span {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.loading_page .loader {
    text-align: center;
    margin-top: 30%;
    width: 70%;
    /* vertical-align: middle */
    display: flex;
    flex-direction: row;
    /* make main axis horizontal (default setting) */
    justify-content: center;
    /* center items horizontally, in this case */
    align-items: center;
    /* center items vertically, in this case */
    font-size: 1.5rem;
    margin-left: 17%;
    background-color: #02B9E7;
    border-radius: 20px;
    padding: 12px 20px;
    color: #fff;
    font-weight: 200;
}

.loading_page ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #fff;
    fill: #fff;
}

.loader_name .secound_text {
    margin-right: 12px;
}

.side_menu_content {
    height: 95%;
}

.showpage-content {
    background: #fff;
}

.hiddenText {
    color: #fff;
}

.hide_opt {}

.hide_opt .item-ios {
    font-size: 1.5rem;
}

.hide_opt ion-label.label.label-ios,
.hide_opt ion-label.label.label-md {
    padding-left: 8%;
}

.hide_opt div.input-wrapper {
    padding-left: 10px;
}

.hide_opt div.item-inner {
    background: none !important;
}

ion-menu ion-content {
    height: 80%;
}

.hide_opt button,
.hide_opt .menu_icons_btn {
    touch-action: inherit !important;
} // .menu-inner .scroll-content{margin-bottom: 98px;}
.loader_name .secound_text {
    margin-right: 12px;
}

.alert-md .alert-wrapper {
    border-radius: 8px !important;
}

page-createworkorder.ion-page.show-page {
    background: rgba(0, 0, 0, 0.6);
}

page-createbroadcast.ion-page.show-page {
    background: rgba(0, 0, 0, 0.6);
}

page-markfixed.ion-page.show-page {
    background: rgba(0, 0, 0, 0.6);
}

.db_synch_loader {
    background: #fff;
}

.db_synch_loader .loading-wrapper {
    color: #02B9E7;
    max-width: 90%;
}

.db_synch_loader .spinner-ios-ios line,
.db_synch_loader .spinner-ios-ios-small line,
.db_synch_loader .spinner-md-md line,
.db_synch_loader .spinner-md-md-small line {
    stroke: #02B9E7;
}

.loader_with_text .loading-wrapper {
    max-width: 90% !important;
}

.team_menu_icon ion-icon {
    margin-right: 4px;
}

.action-sheet-group {
    overflow: scroll !important;
    max-height: 600px !important;
}

page-introinviteusers.ion-page.show-page {
    background: black;
    opacity: 0.5;
}

.select-drop-down .alert-head {
    padding: 0px;
}

.select-drop-down .alert-message {
    padding: 0px !important;
}

.footer_fab_box .fab-in-list {
    background-color: #428bca;
    width: 55px;
    height: 55px;
    color: #fff;
}

.footer_fab_box .fab-in-list button:active {
    opacity: 0.8;
}

.footer_fab_box button:active {
    opacity: 0.8;
}

ion-fab[bottom].footer_fab_box {
    bottom: -8.5%;
}

ion-fab[bottom].feb_btn_on_private {
    bottom: -9.2% !important;
}

ion-fab[center].footer_fab_box {
    left: 50.6%;
}

#ListBackdrop {
    background-color: #111 !important;
    position: fixed !important;
    height: 100%;
    width: 100%;
    z-index: 999;
    opacity: 0.8;
}

.footer_fab_box ion-fab-list {
    min-width: 0px;
    min-height: 0px;
}

page-sendmessage.ion-page.show-page {
    background: #fff;
}

.menu_at_btn {
    margin-right: 7px;
}

ion-footer ion-col.active {
    color: #428bca;
    background-color: transparent;
} //  .fab ion-icon{ font-size: 1.8em; }
ion-fab-list[side=right] {
    margin: 0 62px;
    margin-top: -200%;
}

ion-fab-list[side=left] {
    margin: 0 62px;
    margin-top: -200%;
}

ion-fab-list[side=top] {
    margin: 152px 0;
}

ion-fab-list[side=top] .fab-in-list {
    margin-left: 0%;
}

ion-fab-list button ion-icon {
    font-size: 32px !important;
}

ion-fab .ion-ios-add:before,
ion-fab .ion-md-add:before {
    font-weight: 600;
}

ion-fab .ion-ios-close:before,
ion-fab .ion-md-close:before {
    font-weight: 600;
}

ion-footer .ion-ios-home:before,
ion-footer .ion-md-home:before {
    font-weight: 800;
}

ion-footer .ion-ios-chatboxes:before,
ion-footer .ion-md-chatboxes:before {
    font-weight: 800;
}

ion-footer .ion-ios-construct:before,
ion-footer .ion-md-construct:before {
    font-weight: 800;
}

ion-footer .ion-ios-list:before,
ion-footer .ion-md-list:before {
    font-weight: 800;
}

ion-footer .grid {
    background: transparent !important;
}

.footer-div {
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    background: #BDBDBD !important;
}

ion-footer ion-grid ion-row ion-col ion-icon {
    font-size: 32px !important;
}

ion-footer ion-icon.icon.icon-ios.ion-ios-list-outline {
    font-size: 46px !important;
    margin-top: -2px;
}

ion-fab[bottom].footer_fab_box.list_page {
    bottom: -4.2%;
}

page-chatting.ion-page.show-page {
    background-color: #fff;
}

.fab-in-list {
    margin: 0px 0;
}

ion-fab {
    overflow: visible;
    div.label {
        position: absolute;
        height: 0px;
        line-height: 16px;
        padding-top: 50px;
        color: #fff;
        text-align: center;
        width: 100px;
        margin-top: 2px;
        font-size: 1.3rem;
    }
}

ion-fab-list[side=left] div.label {
    width: 73px;
    top: 5px;
    text-align: center;
}

ion-fab-list[side=right] div.label {
    top: 5px;
    width: 72px;
    text-align: center;
}

ion-fab-list[side=top] div.label {
    width: 58px;
    text-align: center;
    top: 5px;
}

ion-fab-list[side=left]:active,
ion-fab-list[side=right]:active,
ion-fab-list[side=top]:active {
    opacity: 0.5;
}

.feed_action_items ion-icon {
    margin-right: 10px;
}

// .notification_btn_side_menu ion-toggle .toggle-checked{background-color: #32db64;}
ion-menu .hint_text_label {
    padding: 5px 0px;
    font-size: 14px;
    margin: 0px;
    color: #757575;
}

ion-menu .hint_box {
    float: left;
    margin: 0px 14px 0px 14px;
    background-color: #fff;
}

.menu_notification_btn {
    margin-right: 8px;
    vertical-align: middle;
}

ion-menu div.scroll-content {
    margin-bottom: 10% !important;
}

.notification_btn_wraper {
    bottom: 0px;
    border-top: 0.55px solid #c8c7cc;
    width: 100%;
}

.menu_toggle_btn {
    padding: 0px;
}

.notification_btn_side_menu div.item-inner {
    border-bottom: none !important;
}

.notification_btn_side_menu {
    letter-spacing: 2px;
    color: #808080;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 600;
}

.email_support_icon {
    margin-right: 7px;
}

.side_menu_footer {
    height: 215px !important;
}

ion-menu .email_support_btn {
    width: 100%;
    border-radius: 0px;
    margin-left: 0px;
    border-top: 0.55px solid #c8c7cc;
    padding: 10px;
    padding-left: 0px;
    bottom: 0px !important;
    letter-spacing: 2px;
    color: #808080;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 600;
}

ion-menu .email_support_btn div.item-inner {
    background-image: none;
    padding-right: 16px;
}

ion-menu .email_support_btn:active {
    opacity: 0.6;
    background: #d9d9d9;
}

ion-menu .notification_btn_wraper hr {
    border-top: 0.55px solid #c8c7cc;
    height: 0.55px;
    padding: 0px;
    margin: 0px 30px;
}

ion-menu .learn_btn {
    width: 100%;
}

ion-menu .learn_btn .button-inner {
    justify-content: left;
}

ion-menu .email_support_btn .button-inner {
    justify-content: left;
}

@media(max-width:749px) {
    ion-footer ion-col span {
        font-size: 9px;
    }
}

@media(max-width:479px) {
    .bar-button-menutoggle-ios ion-icon,
    .bar-button-menutoggle-md ion-icon {
        font-size: 2.2rem;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .toolbar-title-md {
        font-size: 16px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-device-width: 412px) and (max-device-width: 690px) {
    .toolbar-title-md {
        font-size: 20px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.5) and (min-device-width: 412px) and (max-device-width: 690px) {
    .toolbar-title-md {
        font-size: 20px;
    }
}