<ion-header>
  <ion-navbar>

    <ion-row>
      <ion-col col-1 class="header_items">
        <ion-icon (click)="dismiss()" name="arrow-round-back" class="back_arrow"></ion-icon>
      </ion-col>
      <ion-col col-9 class="header_items">
        <ion-title class="page_title" (click)="resize()">Create Message</ion-title>
      </ion-col>
      <ion-col col-2 class="header_items send_btn_col">
        <button [disabled]="!messageText || !allUsers.length" (click)="allUsers.length>=2?createGroup():send()" ion-button class="msg_send_btn">
          <span>Send</span>
        </button>
      </ion-col>
    </ion-row>

    <!-- </ion-navbar> -->

    <ion-grid class="grid-img">
      <!-- <ion-row>
        <ion-col col-12 class="align-center first-grid-col label_text">
            <ion-label class="select_label">SELECT <span (click)="selectGroups()">GROUP</span> / <span (click)="selectIndividual()">USER</span></ion-label>
        </ion-col>
    </ion-row> -->


      <ion-row class="user_name_box" *ngIf="!allUsers.length>0">
        <ion-col col-8>
          <ion-list>
            <ion-item>
              <ion-label class="to_label">To:</ion-label>
              <ion-input autocomplete="off" autocorrect="on" spellcheck="on" autocapitalize="on" class="input_box" [(ngModel)]="searchText"
                (input)="getUsers()" placeholder="Enter User/Group"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-4>
          <ion-icon *ngIf="showList" class="remove_icon" name="ios-close-outline" (click)="removeSearch()"></ion-icon>
          <ion-label *ngIf="!showList && !allUsers.length>0" class="select_label">
            <span (click)="selectGroups()">Group</span>
            <span class="select_gray_text">/</span>
            <span (click)="selectIndividual()">User</span>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="user_name_box with_selected_user" *ngIf="allUsers.length>0">
        <ion-col col-10>
          <ion-list>
            <ion-item>
              <ion-label class="to_label">To:</ion-label>
              <ion-label *ngIf="allUsers.length>0" class="sendin_footer">
                <span *ngFor="let res of allUsers;" text-wrap>
                  <!-- <span (click)="res.type=='group'?selectGroups():selectIndividual()" class="user_name">{{res.name}}</span> -->
                  <span class="user_name">{{res.name}}</span>
                  <span>{{res.type=='group'?'(Group)':''}}</span>
                </span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-2>
          <ion-icon class="remove_icon" name="ios-close-outline" (click)="resetSelection()"></ion-icon>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="user_name_box with_selected_user" *ngIf="allUsers.length>0 && allUsers[0].type == 'private'">
        <ion-col col-9>
          <ion-list no-lines>
            <ion-item no-lines>
              <ion-label class="to_label">To:</ion-label>
              <ion-label *ngIf="allUsers.length>0" class="sendin_footer" [ngClass]="!isShowMore ? 'long-text' : ''">
                <div *ngFor="let res of allUsers; let i = index">
                  <span *ngIf="i < 2" text-wrap class="user_name">{{res.name}}

                  </span>
                  <a *ngIf="i == 1 && allUsers.length > 2 && !isShowMore" class="show-more" (click)="presentPopover($event, !isShowMore)">+{{allUsers.length - 2}} More</a>
                  <a *ngIf="i == 1 && allUsers.length > 2 && isShowMore" class="show-more" (click)="presentPopover($event, !isShowMore)">Show Less</a>

                </div>
              </ion-label>
            </ion-item>

          </ion-list>
        </ion-col>
        <ion-col col-1>
          <ion-icon class="remove_icon" name="ios-close-outline" (click)="resetSelection()"></ion-icon>
        </ion-col>
        <ion-col col-2>
          <ion-list text-center>
            <ion-item text-center>
              <ion-label class="select_label" text-center>
                <span (click)="selectIndividual()">User</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row> -->

    </ion-grid>
  </ion-navbar>

</ion-header>

<ion-content padding no-bounce overflow-scroll="false">

  <ion-list *ngIf="showList">
    <span class="autosuggestion_list">
      <ion-item *ngFor="let row of filterUser" (click)="selectUserFromList(row.target_user.name,row.chat.id,row.target_user.id,row.target_user)">
        <img src="{{row.target_user.avatar_img_url}}" class="user">
        <span>{{row.chat.name}}</span>
        <!-- <span>{{row.formatted_address}}</span> -->
      </ion-item>
      <ion-item *ngFor="let row1 of filterGroup" (click)="selectGroupFromList(row1.chat.name,row1.chat.id,row1.chat.id,row1.chat.users)">
        <img src="{{row1.chat.image_url}}" class="user">
        <span>{{row1.chat.name}} (Group)</span>
        <!-- <span>{{row.formatted_address}}</span> -->
      </ion-item>
    </span>
  </ion-list>
  <!-- <ion-label style="min-height:25px;margin:0px;" (click)="closekeyboard()"></ion-label> -->

  <!-- <ion-grid style="border-bottom: 1px solid lightgray;">
    <ion-row class="user_name_box with_selected_user" *ngIf="allUsers.length>0 && allUsers[0].type == 'private'">
      <ion-col col-19>
        <ion-list no-lines>
          <ion-item no-lines>
            
            <ion-label *ngIf="allUsers.length>0" class="sendin_footer">
              <span *ngFor="let res of allUsers;" text-wrap>
                
                <span class="user_name">{{res.name}}</span>
                <span class="selected-user">{{res.type=='group'?'(Group)':' '}}</span>
              </span>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="remove_icon" name="ios-close-outline" (click)="resetSelection()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="message-box" style="height: 100%;padding-top:0%;">

    <div class="box">

      <!-- <ion-grid class="header_grid">
      <ion-row>
        <ion-col col2>
            
        </ion-col>
        <ion-col col-8>
         
        </ion-col>
        <ion-col col2>
            
        </ion-col>
      </ion-row>
    </ion-grid> -->

      <!-- <ion-grid class="grid-img">
    <ion-row>
        <ion-col col-12 class="align-center first-grid-col label_text">
            <ion-label class="select_label">SELECT <span (click)="selectGroups()">GROUP</span> / <span (click)="selectIndividual()">USER</span></ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6 class="align-center first-grid-col" (click)="accessGallery()">
          <ion-icon ios="ios-image" md="md-image" class="camera-image-icon"></ion-icon>
        </ion-col>
        <ion-col col-6 class="align-center" (click)="openCamera()">
          <ion-icon ios="ios-camera" md="md-camera" class="camera-image-icon"></ion-icon>
        </ion-col>
      </ion-row>
  </ion-grid> -->


      <ion-grid class="scroll_area">
        <ion-row *ngIf="allUsers">
          <ion-col col-12>
            <!-- Sending To  <span *ngFor="let res of allUsers;" text-wrap (keyup)="resize()" [innerHTML]="res.name" class="user-name-badge"></span> -->
            <textarea #myInput autocomplete="off" autocorrect="on" spellcheck="on" autocapitalize="on" placeholder="{{showList?'':'Start typing here'}}"
              [(ngModel)]="messageText" (change)="updateValue($event)" (ngModelChange)="changeModelValue()" (keyup)="valchange($event)"></textarea>
          </ion-col>
        </ion-row>



        <ion-row *ngIf="base64Image" class="img_box">

          <ion-col class="align-center">

            <ion-grid class="option-row close_wo" *ngIf="showOverlay">
              <ion-row class="speech-bubble">
                <ion-col col-10 class="option-col align-center" (click)="removeImage()">
                  Remove Image
                </ion-col>
                <ion-icon col-1 name="ios-close-outline" class="option-icon last-option-icon" (click)="hideOverlay()"></ion-icon>
              </ion-row>
            </ion-grid>

            <table>
              <tr>
                <td class="image-div">
                  <span class="close-icon-box">

                    <img class="group-img-avatar" src="{{base64Image}}" (click)="shoOverlay()" />
                    <!-- <div class="overlay1" *ngIf="showOverlay"></div>
      <div class="overlay" *ngIf="showOverlay">
        <ion-icon class="close-icon" ios="ios-close" md="md-close" (click)="removeImage()" ></ion-icon>
      </div> -->

                  </span>
                </td>
              </tr>
            </table>


          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


  </div>


</ion-content>

<!-- <ion-footer class="{{classnameForFooter}}"> -->
<ion-footer [style.margin-bottom.px]="keyboardHeight">
  <ion-label *ngIf="base64Image && isKeyboardOpen" class="scroll_down_label" (click)="closekeyboard()">Scroll down to see image</ion-label>

  <ion-row>
    <ion-col col-6 class="align-center first-grid-col" (click)="accessGallery()">
      <ion-icon name="ios-image-outline" class="camera-image-icon"></ion-icon>
    </ion-col>
    <ion-col col-6 class="align-center" (click)="openCamera()">
      <ion-icon name="ios-camera-outline" class="camera-image-icon"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-toolbar position="bottom" class="footer_toolbar" *ngIf="mentionMembers.length>0">

    <span class="scroll-ion">
      <span class="counting counting_iphone_x">@
        <label [ngClass]="this.mentionUsers.length>=1?'blue_text':''">{{this.mentionUsers.length>0?this.mentionUsers.length:''}}</label>
      </span>
      <ion-scroll scrollX="true" style="min-height: 56px;">
        <ul nowrap class="results">
          <li *ngFor="let memberInfo of mentionMembers" (mousedown)="selectUser($event,memberInfo,'false')" [ngClass]="showSelected(memberInfo.id)?'selected':''">
            <span>
              <img src="{{memberInfo.avatar.url}}" [ngClass]="showSelected(memberInfo.id)?'mention-select':''" />
            </span>
            <label [innerHtml]="updateName(memberInfo.name) | safeHtml"></label>
          </li>
          <li *ngIf="mentionMembers.length>2" style="padding-left: 5px;     border-left: solid #757575 0.5px;" (mousedown)="this.mentionUsers.length != mentionMembers.length?selectAllMention($event,true):selectAllMention($event,false)"
            [ngClass]="mentionUsers.length == mentionMembers.length?'selected':''">
            <label style="font-weight:600;">ALL</label>
          </li>
        </ul>
      </ion-scroll>
    </span>
  </ion-toolbar>

</ion-footer>
