<ion-header>
  <ion-navbar>
    <ion-title>SELECT HOTEL</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form>
    <ion-list>
      <ion-item>
        <ion-label stacked>HOTEL NAME</ion-label>
        <ion-input type="text" placeholder="Hotel name" (input)="getHotels()" [(ngModel)]="formData.name" name="name" autocomplete="off"
          autocorrect="on" spellcheck="on" autocapitalize="on"></ion-input>
      </ion-item>

      <ion-list scrollY="true" *ngIf="showList && hotelsData">
        <span class="autosuggestion_list">
          <ion-item *ngFor="let row of hotelsData" (click)="selectHotel(row)">
            <p>{{row.name}}</p>
            <span>{{row.formatted_address}}</span>
          </ion-item>
        </span>
      </ion-list>

      <ion-item class="hotels_list">
        <ion-label stacked>HOTEL ADDRESS</ion-label>
        <ion-input type="text" placeholder="Street and number" [(ngModel)]="formData.address" name="address" autocomplete="off" autocorrect="on"
          spellcheck="on" autocapitalize="on"></ion-input>
      </ion-item>



      <div>
        <tr>
          <td class="padr">
            <div>
              <ion-item>
                <ion-label stacked></ion-label>
                <ion-input type="text" placeholder="City" [(ngModel)]="formData.city" name="city" autocomplete="off" autocorrect="on" spellcheck="on"
                  autocapitalize="on"></ion-input>
              </ion-item>

            </div>
          </td>
          <td class="">
            <div>
              <ion-item>
                <ion-label stacked></ion-label>
                <ion-input type="text" placeholder="State" [(ngModel)]="formData.state" name="state" autocomplete="off" autocorrect="on"
                  spellcheck="on" autocapitalize="on"></ion-input>
              </ion-item>
            </div>
          </td>
          <td class="padl">
            <div>
              <ion-item class="createhotel2">
                <ion-label stacked></ion-label>
                <ion-input type="tel" placeholder="Zip" [(ngModel)]="formData.zip_code" name="zip_code" autocomplete="off"></ion-input>
              </ion-item>
            </div>
          </td>
        </tr>
      </div>


    </ion-list>
  </form>

  <div class="form-footer">
    <button ion-button full [disabled]="( !formData.name.trim() || !formData.address.trim() || !formData.city.trim() || !formData.state.trim() || !formData.zip_code.trim() )"
      (click)="create()">SELECT HOTEL</button>

    <!-- <p>Already have an account? <span class="text-blue" (click)="signin()">Sign in</span></p>-->
  </div>

</ion-content>
