<ion-header>
  <ion-navbar>
    <ion-title>CHANGE PASSWORD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<p class="label1">enter your email</p>-->

  <form [formGroup]="userForm" (ngsubmit)="saveUser(userForm.value)" novalidate action="GET">
    <ion-list>
      <ion-item>
        <ion-label stacked class="text-center">Please enter your email address.</ion-label>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" value="" [(ngModel)]="email" autocomplete='off' autocorrect="off" spellcheck="off" autocapitalize="on"
          formControlName="email" placeholder="you@email.com"></ion-input>
      </ion-item>
      <!--<p class="pcolor" *ngIf="userForm.controls.email.errors && userForm.controls.email.dirty ">
        <small class="up">
          <strong> <i></i></strong>
        </small>
      </p>
      -->

      <button ion-button color="gray" full (click)="showLoader?'':forgetPassword()" [disabled]="!userForm.valid || showLoader"
        class="margin-top">{{showLoader?'':'RESET PASSWORD'}}
        <ion-spinner *ngIf="showLoader" name="bubbles"></ion-spinner>
      </button>

      <ion-label stacked class="forget-hint-text">If your account is setup without an email, please contact your Admin to reset your password.</ion-label>

    </ion-list>


  </form>

</ion-content>
