page-forgetPassword {


  .list-ios > .item-block:first-child,.list-md > .item-block:first-child
  {
    border-top: none;padding-left: 0px; color: #AEAEAE;
  }
	.label-md[stacked]{ color: #BDBDBD; text-transform: uppercase;letter-spacing: 2px;}
  .item-ios,.item-md{ padding-left:0px; margin-bottom: 30px;  font-family: 'open_sanslight';color: #AEAEAE;text-transform: uppercase;}
  .margin-top{
    margin-top: 50px;
  }
  .a1{color:#AEAEAE; letter-spacing:1px; margin-top:5px;font-family: 'open_sanslight'; text-transform: capitalize;font-size: 20px;}
.show-pass{ margin-top:-20px; color: #AEAEAE;  font-family: 'open_sanslight';letter-spacing:1px; }
.clearfix{ clear:both; letter-spacing:2px;}
.button-ios,.button-md{ font-family: 'open_sanssemibold';margin-top: 40px;}
.label-ios[stacked],.label-md[stacked]{font-family: 'open_sanslight'; font-size: 20px;}
form{max-width: 495px;margin: 95px auto auto auto;}
.label1{font-family: 'open_sanslight';font-size: 20px;letter-spacing:1px;padding-left: 0px; text-align: center; color: #AEAEAE;}
	.item-md{ padding-left:0px;}
	.button-full-md{box-shadow: none;border-radius: 4px;}
	.alert-ios .alert-button,.alert-md .alert-button{    margin: 0.4rem 0.2rem;    padding: 0 1em;    height: 47px;    border-radius: 4px;    font-size: 15px;    color: #fff;
    background-color: #02B9E7;    letter-spacing: 2px;}
	.alert-ios .alert-wrapper,.alert-md .alert-wrapper{border-radius: 8px !important;}
	.text-input-ios,.text-input-md{color: #424242;}
	.text-center{text-transform: none;text-align: center !important; margin-right:0px; margin-top:0px; margin-bottom: 10px !important;}
.toolbar-ios ion-title,.toolbar-md ion-title{ padding: 0 0px 1px; }
.forget-hint-text{float: left;text-align: justify;white-space: pre-line;margin-right: 0px;}

.toolbar-title-md {padding: 0 33px 1px 0px;}
	 .toolbar-title-md{margin-left:0px !important;}
@media(max-width:749px)
{
	.label1{font-size: 16px;}
	.label-ios,.label-md{ font-size: 12px !important;letter-spacing:1px;}
	.margin-top {    margin-top:30px;}
	.item-ios,.item-md{margin-bottom: 10px;}
	.show-pass{margin-top: -4px; font-size: 12px;}
	.a1{font-size: 12px; margin-top: 1px;}
	form{max-width: 272px;margin: 20px auto auto auto;}
	.text-input-ios,.text-input-md{margin-top: 0px !important;font-size: 16px;}
	.button-ios,.button-md{height: 52px; font-size: 16px; letter-spacing: 1px; font-weight: 300 !important;}
}



}


